@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Are You Websites</h1>
    <div>
        <h3 >This is a picture of my favorite animal</h3>
        <img src="./images/giraffe-614141_1920.jpg" alt="A giraffe" width="300">
    </div>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
